[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper

/Latest Binaries

/Install

/docs

/Deploy

/_ReSharper.Tangra 3.Windows

/ipch

/Tangra 3.Windows.opensdf
/Tangra 3.Windows.sdf

/Tangra 3/bin
/Tangra 3/Model
/Tangra 3/obj

/Tangra.Core/Release
/Tangra.Core/.build-debug
/Tangra.Core/.build-release
/Tangra.Core/.clang
/Tangra.Core/.codelite
/Tangra.Core/Debug
/Tangra.Core/Makefile


/Tangra.Core/Tangra.Core.Win32_wsp.mk
/Tangra.Core/TangraCore_Win32.mk
/Tangra.Core/TangraCore_Win32.txt
/Tangra.Core/Tangra.Core.Win32.tags
/Tangra.Core/Tangra.Core.Win32.workspace.*

/Tangra.Model/obj
/Tangra.Model/bin

/Tangra.Video/Windows/Tangra.Video.vcxproj.user
/Tangra.Video/Windows/Tangra.Video.sdf
/Tangra.Video/Windows/Debug
/Tangra.Video/Windows/Release
/Tangra.Video/Windows/ipch

/Tangra 3.Windows.suo

/CSharpFITS/obj
/CSharpFITS/bin

/sys$command

/Tangra.Core/Tangra.Core.Win32.workspace.hpavlov

/Tangra 3.Windows.v11.suo
/Tangra.Addins/bin
/Tangra.Addins/obj
/Tangra.SDK/obj
/Tangra.SDK/bin

/AutoUpdate/SelfUpdate/AutoUpdateSelfUpdate.exe
/Test Data
/AutoUpdate/SelfUpdate/AutoUpdateSelfUpdate.bin

/TestFiles/

/Tangra.Core/cppcheck.list
/Tangra.Core/cscope_file.list
/Tangra.Video/Windows/Tangra.Video.opensdf
/Work/AviDemo
/Work/AviFile
/AdvLib.Core/*.filters
/AdvLib.Core/Debug/AdvLib.Core.Build.CppClean.log
/AdvLib.Core/Debug
/Debug
/AdvLib.Core/x64/Debug
/x64/Debug
/AdvLib.Core/Release
/AdvLib.Core/x64/Release
/Release
/x64/Release
/AdvLib.Core/*.tags
/AdvLib.Core/*.hpavlov
/AdvLib.Core/*.session
/AdvLib.Core/AdvLib.Core_wsp.mk
/AdvLib.Core/AdvLib/AdvLib.mk
/AdvLib.Core/AdvLib/Debug
/AdvLib.Core/.build-debug
/AdvLib.Core/AdvLib/AdvLib.txt
/AdvLib.Core/AdvLib_Win32.txt
/AdvLib.Core/AdvLic.Core.Win32.tags
/AdvLib.Core/AdvLic.Core.Win32.workspace.hpavlov
/AdvLib.Core/AdvLic.Core.Win32.workspace.session
/AdvLib.Core/AdvLic.Core.Win32_wsp.mk
/AdvLib.Core/AdvLib.Core.vcxproj.user
/AdvLib.Core/AdvLib_Win32.mk
/AdvLib.Core/.build-release
/OcrTester/AutomatedTestingImages/testbed
